body {
  margin: auto;
  padding: auto;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  background: url('dark.jfif') top center;
  background-size: cover;
}

.upTitle {
  margin-top: 30px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  justify-content: center;
  align-items: center;
  height: 12vh;
  font-size: 25px;
  color: white;
}

.row {
  margin-top: 150px;
  margin-bottom: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-decoration: none;
  position: relative;
  padding: 3px;
  background-color: black;
  margin: 5px;
}

.btn:before,
.btn:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 3px;
  background-color: cyan;
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:before {
  top: 0;
  left: 0;
}

.btn:after {
  bottom: 0;
  right: 0;
}

.btn:hover:before,
.btn:hover:after {
  width: 100%;
}

.btn span {
  display: flex;
  padding: 1rem 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 90px;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid grey;
}

.btn span:before,
.btn span:after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 0;
  background-color: cyan;
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn span:before {
  bottom: 0;
  left: 0;
}

.btn span:after {
  top: 0;
  right: 0;
}

.btn span:hover:before,
.btn span:hover:after {
  height: 100%;
}

footer {
  padding-bottom: 1rem;
  padding-top: 1rem;
  bottom: 0;
}

footer p {
  color: white;
  font-size: 0.825rem;
  margin-bottom: 0.25rem;
  text-align: center;
}

.emoji {
  margin-right: 0.25rem;
}

footer a {
  color: inherit;
}

@media screen and (max-width: 768px) {
  .row {
    margin-top: 15rem;
  }

  .btn {
    font-size: 0.8em;
    letter-spacing: 0.05em;
  }

  .btn span {
    width: 2.5rem;
    height: 3rem;
    padding: 0.5rem 1.5rem;
  }
}

@media screen and (max-width: 568px) {
  .upTitle {
    font-size: 1em;
  }

  .row {
    margin-top: 10rem;
  }

}