html{
  font-size: 20px;
  background: url(https://www.musicnotes.com/images2/promos/store/900x520_piano-min.jpg) bottom center;
  background-size: cover;
}
body,html{
  margin: 0;
  padding: 0;
  font-family: 'Lobster', cursive;
}
.keys{
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.key{
  border: 5px solid black;
  border-radius: 5px;
  margin: 20px;
  padding: 30px 40px;
  font-size: 20px;
  transition: all .1s ease;
  width: 20px;
  text-align: center;
  color: white;
  background: rgba(78, 77, 77, 0.4);
  text-shadow: 0 0 .5rem black;
}
.playing{
  transform: scale(1.2);
  border-color: rgb(255, 145, 0);
  box-shadow: 0 0 1rem black;
}
kbd{
  display: block;
  font-size: 30px;
  font-family: 'Lobster', cursive;
}

