body {
    font-family: sans-serif;
    background: url("background.jfif");
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin: 60px auto;
}

#bands {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.2);
    list-style: inside square;
    font-size: 20px;
    width: 500px;
    margin: auto;
    padding: 0;
}

#bands li {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
}


#bands li+li {
    margin-top: 2px;
}


a {
    color: #ffc600;
    text-decoration: none;
}