html {
 
  background: url(https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg) bottom center;
  background-size: cover;
  
  text-align: center;
  font-size: 10px;
}

body {
  font-size: 2rem;
  display:flex;
  flex:1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  background-color: #f7f9f8e5;
  width: 30rem;
  height: 30rem;
  border:20px solid rgb(196, 3, 255);
  border-radius:50%;
  margin:50px auto;
  position: relative;
  padding:2rem;
 
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); 
}

.clock-face::before {
  background-color: #000;
  border-radius: 50%;
  content: "";
  height: 20px;
  left: 46.5%;
  position: absolute;
  top: 47.5%;
  width: 20px;
}

.hand {
  background:black;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, .5);
  height:6px;
  position: absolute;
  right: 50%;
  top:50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  transition: all 0.05s;
  width:50%;
}

.hour-hand {
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  height: 10px;
  width: 40%;
}


.min-hand {
  height: 5px;
}

.second-hand {
  height: 2px;
  background-color: #eeaf1e;
  width: 54%;
}

.second-hand::before {
  background-color: #eeaf1e;
  border-radius: 50%;
  content: "";
  height: 10px;
  left: 95.5%;
  position: absolute;
  top: -4px;
  width: 10px;
}